body {
	font-family: Arial, sans-serif;
	border: 4px steelblue solid;
	font-size: 16px;
	width: 810px;
	margin: auto;
	-webkit-box-shadow: 0 0 14px 10px rgba(0,0,0,0.75);
	-moz-box-shadow: 0 0 14px 10px rgba(0,0,0,0.75);
	box-shadow: 0 0 14px 10px rgba(0,0,0,0.75);
}

header {
	border-bottom: 2px steelblue solid;
	padding-bottom: 20px;
	background-image: linear-gradient(#fff, #b5c8e0);
}

img {
	float: left;
	margin: 0 50px;
}

section {
	margin: 0 46px;
}

h1 {
	color: steelblue;
	font-size: 34px;
	text-shadow: 3px 2px 3px steelblue;
	font-style: italic;
	margin-top: 25px;
}

h2, h4 {
	font-size: 20px;
}

h3 {
	font-size: 26px;
	margin-bottom: 20px;
}

h4, h5 {
	line-height: 16px;
	margin: 20px 0;
}

h5 {
	font-size: 17px;
}

h5 a:link, h5 a:visited, ul li a:hover {
	font-weight: bold;
	color: maroon;
}

h5 a:hover, ul li a {
	font-weight: bold;
	color: steelblue;
}

ul li {
	line-height: 25px;
}

footer {
	text-align: center;
	background-color: steelblue;
	color: #fff;
	line-height: 50px;
}